html {

}

body {
	background: url(../images/interstellar.png) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: 'Artifika', serif;
}

.jumbotron {
	text-align: center;
	margin-top: 10%;
	background: #eee;
}

.answer-choices {
	width: 40%;
	margin: auto;
	border-radius: 4px;
}

.answer-choices:hover {
	background: yellow;
	color: black;
}